body {
    background-color: maroon;
}

h1 {
    font-family: Luminari;
    color: rgb(160, 129, 3);
}

h3 {
    font-family: Luminari;
    color: rgb(160, 129, 3);
}

p {
    font-family: Luminari;
    color: rgb(160, 129, 3);
}

ul {
    font-family: Luminari;
    color: rgb(160, 129, 3);
}

ol {
    font-family: Luminari;
    color: rgb(160, 129, 3);
}

